* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
    cursor: pointer;
}
a:link, a:visited, a:hover, a:active {
    text-decoration: none;
}
input, textarea {
    outline: none;
}
ul, ol, li {
    list-style: none;
}
i {
    cursor: pointer;
}
.left {
    float: left;
}
.right {
    float: right;
}
.hide {
    display: none !important;
}
.clearfix {
    zoom: 1;
}
.clearfix:after {
    display: block;
    clear: both;
    visibility: hidden;
    height: 0;
    overflow: hidden;
    content: "";
}
.tc {
    text-align: center;
}
.btn {
    display: inline-block;
    font-size: 14px;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    border-radius: 4px;
    padding: 6px 12px;
}
.btn[disabled] {
    cursor: not-allowed;
    filter: alpha(opacity=65);
    -webkit-box-shadow: none;
    box-shadow: none;
    opacity: .65;
}