$border-bottom1: 1px solid #ced4d9;
$border-bottom2: 1px solid #eaeeef;
$border-bottom3: 1px solid #e4e9ee;

.img-small {
  width: 40px;
  height: 40px;
}
.img-medium {
  width: 56px;
  height: 56px;
}
.img-big {
  width: 160px;
  height: 160px;
}