.cloud-msg-container {
  & {
    @extend .chat-window;
  }
  .title {
    & {
      line-height: 60px;
      font-size: 16px;
      text-align: center;
      background: #e5f4ff;
    }
    .btn-back {
      width: 68px;
      height: 34px;
      background-color: #f5f5f5;
      color: #88939b;
      font-size: 12px;
      border: 1px solid #ced4d9;
      position: absolute;
      left: 15px;
      top: 13px;
    }
  }
}